<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>Dashboard Template for Bootstrap</title>
    <link href="{% static "bootstrap4.3.1/dashboard.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'bootstrap4.3.1/css/bootstrap.min.css ' %}">
    <link rel="stylesheet" href="{% static "bootstraptable1.15.5/bootstrap-table.min.css" %}">
    <link rel="stylesheet" href="{% static 'Font-Awesome-5.6.3/css/all.css ' %}">
    {#    <!-- Custom styles for this template -->#}

    {##}
    {#    <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->#}
    <script src="{% static "jquery/jquery-3.4.1.min.js" %}" type="text/javascript"></script>
    <script src="{% static "popper.js-1.16.0/popper.min.js" %}"></script>
    {#    <!-- 加载 Bootstrap 的所有 JavaScript 插件。你也可以根据需要只加载单个插件。 -->#}
    <script src="{% static "bootstrap4.3.1/js/bootstrap.min.js" %}"></script>
    <script src="{% static "bootstraptable1.15.5/bootstrap-table.min.js" %}"></script>


    {% comment %}每个页面预留的自定义css{% endcomment %}
    {% block myCss %}{% endblock %}

</head>

<body>

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Company name</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="home"></span>Dashboard <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block bootstrapTable01_css %}{% endblock %}" href="{% url 'app04:table01' %}">
                            <span data-feather="file"></span>BootstrapTable01
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% block bootstrapTable02_css %}{% endblock %}" href="{% url 'app04:table02' %}">
                            <i class="fa fa-bomb" aria-hidden="true"></i>BootstrapTable02
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="users"></span>Customers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="bar-chart-2"></span>
                            Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers"></span>
                            Integrations
                        </a>
                    </li>
                </ul>


            </div>
        </nav>


        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            {% block myMain %}
                <h1>Hello DashBoard</h1>
            {% endblock %}
        </main>

    </div>
</div>

</body>
</html>
